@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Raleway:wght@100;200&family=Zilla+Slab:wght@300&display=swap');
/* Indica que se seleccionaron todos los elementos del Index*/
*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Zilla Slab', serif;   
  font-size: 1rem;
}

.header-container {
  width: 900px;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: rgb(223, 227, 229);
  color: honeydew;
}

.header-logo-img {
  border-radius: 60%;
  margin: 20px;
  overflow: hidden;
  height: 55px;
  /* Ocultar el contenido que sobresale */
}

.brand .subtitulo-1 span{
  color: #1B365C;
}

.inf-content span{
  color: cadetblue;
}
main {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(223, 227, 229);
  color: #1B365C;
}

.navbar {
  /* crea una caja de navegacion en filas o columnas*/ 
  display:flex ;
  align-items: center;
  font-size: 1rem;
  background-color: rgb(70, 136, 130);
  width: 900px;
  justify-content: space-between;
  top: 0 ;
  z-index: 1000;
  position: fixed;
}

h1 {
  font-size: clamp (4vw,1.5em,3em);
}
h2, h3, h4 {
  margin-top: 15px;
}
h4 {
  font-size: 1.3rem;
}
.subtitulo-1 {
  justify-content: right;
  font-size: 3rem;
  color: white;
}

.subtitulos-2 {
  text-align: center;
}

.contenido {
  margin: 15px;
  text-align: justify;
 }

.p-1 {
  text-align: center;
  margin: 20px;
}
.about {
  margin: 40px;
}

.titulo-2{
  margin: 40px;
}
.header-logo-img {
  justify-content: right;
}

.menu {
  justify-content: stretch;
}
.menu li{
  margin: 0 auto;
  list-style: none; 
  /* Sirve para eliminar viñetas de la lista*/
}
.menu ul li {
  display: inline;
}
.menu a{
  text-decoration: none;  /* Sirve para eliminar Subrayado del link*/
  padding: 10px 20px;
  color: honeydew;
}

.menu li a:hover {
  background-color: rgb(132, 172, 182);
}

.download-cv {
       padding: 8px 20px;
       border-radius: 15px;
       margin-top: 10px;
       background-color:rgb(51, 91, 116);
       color: black;
       font-size: 1rem;
       border: none;
       cursor: pointer;
       font-family: 'Raleway', sans-serif;
       text-decoration-style: solid;
       text-decoration: none;
}
.download-cv:hover {
  background-color: rgb(132, 172, 182);
}

h4 {
  text-align: left
}

.container-contact {
  background-color: rgb(162, 194, 214);
  color: black;
}



.container-asp-f {
  margin: 15px;
  list-style: none;
  text-align: left;
}

.contact-section {
margin: 20px;
}

.form-group {
  justify-content: space-around;
}

.form-contacto {
  color: #1B365C;
}

.formulario-superpuesto {
  position: fixed;
  top: 100px;
  right: 10px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  width: 250px; 
  transition: all 0.3s ease-in-out;
  justify-content: left;
  text-align: left;
}

.formulario-superpuesto form {
  display: flex;
  flex-direction: column;
}

.formulario-superpuesto label,
.formulario-superpuesto input,
.formulario-superpuesto textarea,
.formulario-superpuesto button {
  margin-bottom: 10px;
}

.form-superpuesto {
  margin: 5px;
}

.formulario-superpuesto-2 .contact-form input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(188, 196, 200);
  border: 1px;
  font-family: 'Nanum Myeongjo', serif;
}

.formulario-superpuesto-2 .contact-form label {
  color: #1B365C;
  margin: 0;
}

.formulario-superpuesto-2 .contact-form button[type="submit"] {
  background-color: rgb(51, 91, 116) ;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.formulario-superpuesto-2 .contact-form button[type="submit"]:hover {
  background-color: rgb(132, 172, 182);
}
.formulario-superpuesto-2 .contact-form textarea {
  background-color:rgb(188, 196, 200);
  font-family: 'Nanum Myeongjo', serif;
  border-radius: 5px;
  width: 100%;
  padding: 10px; 
}

.form-contacto {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1px;
}
footer {
  color:rgb(170, 104, 140);
  width: 900px;
  text-align: justify;
  margin: 0 auto;
  background-image: url('IMAGENES/Fondo-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sotial-networks {
  margin-left: 20px;
  display: flex;
  justify-content:center ;

}
.sotial-networks i {
  margin-right: 3%;
}

.container-cont a {
  display: inline;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: #1B365C;
  margin-right: 10px;
  padding: 5px 20px 5px 10px ;
  border-radius: 10px;
}

.container-cont i a:hover  {
  background-color: rgb(132, 172, 182);
}

.container-introduccion{
  margin-top: 40px;
}

.container-perfil .item-perfil img {
  margin-top: 10px;
  border-radius: 5px;
}
.container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.item-perfil {
  background-color: rgba(0, 128, 128, 0.544);
  border-radius: 20px;
  text-align:center ;
  transition: all 0.5s;
  width: 200px;
  height: 600px;
}

.item-perfil:hover {
  flex: 1 1 450px;
  background-color: rgba(159, 29, 90, 0.621);
}

.item-perfil h3 {
  text-align: center;
  margin: 5px;
}
.avatar {
  height: 300px;
  width: 300px;
}

.list-experience li {
  list-style: none;
}
div h3 {
  font-size: 2.1rem;
}

@media (max-width: 923px) {
  .formulario-superpuesto {
    position: relative;
    top: initial;
    right: initial;
    width: 100%;
    text-align: center;
    padding: 130px;
  }

  main {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .header-container {
    width: 100%;
  }
}

@media (max-width: 565px) {
  .formulario-superpuesto {
    padding: 5px;
  }

  .navbar {
    display: initial;
  }

  main {
    margin-top: 130px;
  }

  .header-logo-img {
    width: 30%;
    float: left;
  }

  .brand {
    width: 50%;
    float: right;
    margin-right: 15px;
  }

  .menu {
    float: left;
    width: 100%;
    height: 30px;
  }

  .perfil {
    overflow-x: auto;
  }

  .inf-content {
    padding-top: 15px;
  }
}